@using WebApplication1.Models
@model IEnumerable<ClientModel>
@{
    ViewBag.Title = "Home Page";
}
    <ul>

            @foreach (var client in Model)
        {
            <li>
                @client.Name
        </li>
        }
</ul>
</div>